@import "tailwindcss";

@font-face {
  font-family: "mermalede";
  src: url("./assets/fonts/marmalede.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "fonseca";
  src: url("./assets/fonts/Fresca-Regular.ttf") format("opentype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "opensanslight";
  src: url("./assets/fonts/OpenSans-CondLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; /* Light weight */
}

@font-face {
  font-family: "opensansbold";
  src: url("./assets/fonts/OpenSans-CondBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; /* Bold weight */
}

/* Add Tailwind utility for custom fonts */
.font-mermalede {
  font-family: "mermalede", sans-serif;
}

.font-fonseca {
  font-family: "fonseca", sans-serif;
}

.font-opensanslight {
  font-family: "opensanslight", sans-serif;
}

.font-opensansbold {
  font-family: "opensansbold", sans-serif;
}

/* Clip-path utilities */
.clip-path-diagonal {
  clip-path: polygon(0% 100%, 0% 100%, 100% 0%, 100% 0%);
}

.group:hover .clip-path-diagonal {
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 100% 100%);
}